@import '../../style/colors.scss';

.clicked {
    pointer-events: none;
    svg {
        fill: white;
    }
    cursor: pointer;
}

.notClicked {
    pointer-events: all;
    svg {
        fill: $brand;
    }
    cursor: pointer;
}