@import '../../style/colors.scss';

.clicked {
    background-color: $brand;
    border-radius: 2px;
    svg {
        fill: $black;
    }
    cursor: pointer;
}

.notClicked {
    background-color: none;
    svg {
        fill: $brand;
    }
    cursor: pointer;
}