@import '../../style/colors';

.user {
    color: $white;
    info {

    }
    items {
        span {
            display: inline-block;
            width: 100%;
            height: 20px;
            border-top: 1px solid $brand;
            border-bottom: 1px solid $brand;
            h4 {
                margin: 0px;
            }
            svg {
                fill: $brand;
            }
        }
    }
    overview {

    }
}