@import '../../style/colors';

.user {
    color: $white;
    padding-top: 45px;
    .info {
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
        background-color: $darker;
        border-top: 2px solid $dark;
        border-bottom: 2px solid $dark;
        padding: 20px 10px;
    }
    .items {
        button {
            margin-top: -1px;
            border-top: 1px solid $subtle;
            border-bottom: 1px solid $subtle;
            border-left: none; border-right: none;
            line-height: 20px;
            background-color: transparent;
            color: $white;
            width: 100%;
            text-align: left;
            font-size: 1.1em;
            outline: none;
            cursor: pointer;
            padding: 10px 15px;
    
            &:active, &:hover {
                background-color: rbga(0,0,0,0.8);
            }
    
            svg {
                fill: $brand;
                margin-right: 15px;
            }
        }
    }
    .overview {
        padding: 10px;
        svg { fill: $white; }
    }
}