@import '../../style/colors';

.container {
    margin: 45px 0px;
    img {
        width: 100%;
        min-height: 50%;
    }
    article {
        padding:0 10px;
        h4 {
            margin: 5px 0px;
            a {
                color: $subtle;
                text-decoration: none;
                &:hover { color: $brand; }
                &:active { color: $white; }
                &:visited { color: $white; }
            }
        }
        span {
            display: inline-block;
            padding: 0 7px;
            margin:5px 0 5px -5px;
            text-align: left;
        }
        svg {
            fill: $brand;
        }
    }
    footer {
        border-top: 1px solid $brand;
        border-bottom: 1px solid $brand;
        margin: 5px 0;
        padding: 10px 0;
        span {
            display: inline-block;
            width: 20%;
            text-align: center;
            cursor: pointer;
        }
        svg {
            fill: $brand;
            &:checked {
                fill: $brandLight;
            }
        }
    }
}