@import '../../style/colors';

// .container {
//     height: 100%;
//     padding: 5px;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
// }

.buttons {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    svg {
        text-align: center;
        fill: $brand;
        margin-bottom:5px;
    }
}

.reply {
    border-top: 1px solid $dark;
    border-bottom: 1px solid $dark;
    border-left: 2px solid $brand;
    padding: 5px 10px;
    a {
        color: $white;
        &:hover { color:$brand; }
        &:active { color:$white; }
        &:visited { color:$subtle; }
    }
}

.author {
    color: $white;
    svg { fill: $subtle }
    span { font-size: .9em; color: $subtle; }
}