@import '../../style/colors';

.container {
    padding-top: 56px;
    button {
        width: 100%;
        padding-left: 20px;
        border-radius: 5px;
        border: none;
        background-color: $darker;
        text-align: left;
        color: $white;
        font-size: 1em;
        .title {
            padding-left: 5px;
        }
        .subtitle {
            color: $subtle;
            font-size: 1em;
            padding-left: 35px;
        }
        svg {
            fill: $brand;
        }
    }
}

.subscription {
    width: 100%;
    height: 40px;
    background-color: $dark;
    padding: 15px 25px;
    margin-bottom: 2px;
    color: $white;
}